(
    tiles: {
        (4, 2): (terrain: City, name: None),
        (1, 2): (terrain: Desert, name: None),
        (-6, 3): (terrain: Desert, name: None),
        (2, -4): (terrain: Shrubs, name: None),
        (-9, 2): (terrain: WhiteNile, name: None),
        (0, 5): (terrain: Desert, name: None),
        (0, -2): (terrain: BlueNile, name: None),
        (-2, -1): (terrain: City, name: None),
        (4, -4): (terrain: Village, name: None),
        (-4, 3): (terrain: Desert, name: None),
        (3, 2): (terrain: City, name: None),
        (-5, -2): (terrain: Desert, name: None),
        (-6, 6): (terrain: Desert, name: None),
        (0, -1): (terrain: City, name: None),
        (1, 1): (terrain: City, name: None),
        (3, -5): (terrain: Shrubs, name: None),
        (-6, -1): (terrain: Desert, name: None),
        (-2, 0): (terrain: City, name: None),
        (-7, 7): (terrain: Desert, name: None),
        (-4, -4): (terrain: Desert, name: None),
        (0, 1): (terrain: City, name: None),
        (1, 8): (terrain: Desert, name: None),
        (0, -4): (terrain: BlueNile, name: None),
        (5, -2): (terrain: BlueNile, name: None),
        (5, 5): (terrain: Desert, name: None),
        (6, 2): (terrain: BlueNile, name: None),
        (-11, 10): (terrain: Desert, name: None),
        (-5, 1): (terrain: Desert, name: None),
        (-6, 10): (terrain: Desert, name: None),
        (-3, -5): (terrain: Desert, name: None),
        (1, 10): (terrain: Desert, name: None),
        (-7, 2): (terrain: Desert, name: None),
        (-4, 5): (terrain: Desert, name: None),
        (-1, 2): (terrain: City, name: None),
        (-2, -3): (terrain: Desert, name: None),
        (3, -3): (terrain: BlueNile, name: None),
        (1, -1): (terrain: BlueNile, name: None),
        (-8, 2): (terrain: WhiteNile, name: None),
        (2, 0): (
            terrain: City,
            name: Some("Palace"),
        ),
        (5, 4): (
            terrain: Fortress,
            name: Some("Fort Buri"),
        ),
        (-3, -3): (terrain: Desert, name: None),
        (10, -2): (
            terrain: Fortress,
            name: Some("North Fort"),
        ),
        (1, 0): (terrain: City, name: None),
        (4, -1): (terrain: BlueNile, name: None),
        (-3, -4): (
            terrain: Fortress,
            name: Some("Fort Makran"),
        ),
        (2, 8): (terrain: Desert, name: None),
        (-1, 7): (terrain: Desert, name: None),
        (-3, 0): (terrain: Desert, name: None),
        (-5, 5): (terrain: Desert, name: None),
        (-10, 10): (terrain: Desert, name: None),
        (-11, 7): (terrain: WhiteNile, name: None),
        (-4, 0): (terrain: Desert, name: None),
        (8, -1): (terrain: BlueNile, name: None),
        (10, -1): (terrain: Desert, name: None),
        (6, 1): (terrain: BlueNile, name: None),
        (-9, 8): (terrain: Desert, name: None),
        (7, 1): (terrain: BlueNile, name: None),
        (-12, 8): (terrain: WhiteNile, name: None),
        (-5, 9): (terrain: Desert, name: None),
        (-5, 4): (terrain: Desert, name: None),
        (-3, 9): (terrain: Desert, name: None),
        (-7, 0): (terrain: Desert, name: None),
        (4, -3): (terrain: BlueNile, name: None),
        (-8, 3): (terrain: Desert, name: None),
        (-2, 7): (terrain: Desert, name: None),
        (5, 7): (terrain: Desert, name: None),
        (9, 0): (terrain: BlueNile, name: None),
        (6, -3): (terrain: Palm, name: None),
        (8, 3): (terrain: Desert, name: None),
        (-7, -2): (terrain: WhiteNile, name: None),
        (7, -2): (terrain: BlueNile, name: None),
        (-4, -2): (terrain: Desert, name: None),
        (-4, 1): (terrain: Desert, name: None),
        (-8, 10): (terrain: Desert, name: None),
        (-2, -2): (terrain: Desert, name: None),
        (-8, 8): (terrain: Desert, name: None),
        (-5, -1): (terrain: Desert, name: None),
        (-7, 10): (terrain: Desert, name: None),
        (6, 0): (terrain: Desert, name: None),
        (2, 7): (terrain: Desert, name: None),
        (4, 6): (terrain: Desert, name: None),
        (3, 5): (terrain: Desert, name: None),
        (-10, 4): (terrain: WhiteNile, name: None),
        (10, -5): (terrain: Desert, name: None),
        (7, 0): (terrain: Desert, name: None),
        (6, 7): (terrain: Desert, name: None),
        (-3, 6): (terrain: Desert, name: None),
        (-1, 4): (terrain: Desert, name: None),
        (-8, 6): (terrain: Desert, name: None),
        (-3, 4): (terrain: Desert, name: None),
        (1, -5): (terrain: Palm, name: None),
        (6, 5): (terrain: Desert, name: None),
        (2, 1): (terrain: City, name: None),
        (3, -2): (terrain: BlueNile, name: None),
        (11, -4): (terrain: Village, name: None),
        (-9, 9): (terrain: Desert, name: None),
        (10, -3): (terrain: Desert, name: None),
        (-2, 2): (terrain: City, name: None),
        (-13, 10): (terrain: WhiteNile, name: None),
        (2, 5): (terrain: Desert, name: None),
        (-2, 5): (terrain: Desert, name: None),
        (5, -3): (terrain: BlueNile, name: None),
        (1, -3): (terrain: BlueNile, name: None),
        (-8, 1): (terrain: WhiteNile, name: None),
        (-5, 7): (terrain: Desert, name: None),
        (-4, -5): (terrain: Desert, name: None),
        (3, 6): (terrain: Desert, name: None),
        (0, 6): (terrain: Desert, name: None),
        (-9, 6): (terrain: Desert, name: None),
        (4, 3): (terrain: Palm, name: None),
        (2, 3): (terrain: Desert, name: None),
        (9, -5): (terrain: BlueNile, name: None),
        (-11, 6): (terrain: WhiteNile, name: None),
        (-7, -1): (terrain: WhiteNile, name: None),
        (5, 3): (terrain: Palm, name: None),
        (-6, 4): (terrain: Desert, name: None),
        (-2, 1): (terrain: City, name: None),
        (-5, -5): (terrain: WhiteNile, name: None),
        (-6, 9): (terrain: Desert, name: None),
        (4, -5): (terrain: Desert, name: None),
        (8, 1): (terrain: BlueNile, name: None),
        (8, 2): (terrain: BlueNile, name: None),
        (1, 3): (terrain: Desert, name: None),
        (-8, 7): (terrain: Desert, name: None),
        (5, 1): (terrain: BlueNile, name: None),
        (-6, 0): (terrain: Desert, name: None),
        (9, -2): (terrain: BlueNile, name: None),
        (-4, 2): (terrain: Desert, name: None),
        (-1, -3): (terrain: BlueNile, name: None),
        (-9, 10): (terrain: Desert, name: None),
        (-12, 9): (terrain: WhiteNile, name: None),
        (1, 9): (terrain: Desert, name: None),
        (-2, 4): (terrain: Desert, name: None),
        (-1, 3): (terrain: Desert, name: None),
        (4, 10): (terrain: Desert, name: None),
        (3, 7): (terrain: Desert, name: None),
        (-3, 1): (terrain: Desert, name: None),
        (-5, 0): (terrain: Desert, name: None),
        (-5, 3): (terrain: Desert, name: None),
        (9, -3): (terrain: BlueNile, name: None),
        (6, -2): (terrain: BlueNile, name: None),
        (2, -1): (terrain: BlueNile, name: None),
        (2, 6): (terrain: Desert, name: None),
        (0, 4): (terrain: Desert, name: None),
        (4, 4): (terrain: Desert, name: None),
        (-5, -3): (terrain: Desert, name: None),
        (4, 5): (terrain: Desert, name: None),
        (-6, 5): (terrain: Desert, name: None),
        (6, 3): (terrain: Palm, name: None),
        (8, 0): (terrain: BlueNile, name: None),
        (0, 2): (terrain: Desert, name: None),
        (0, 3): (terrain: Desert, name: None),
        (-2, 3): (terrain: Desert, name: None),
        (-8, 4): (terrain: Desert, name: None),
        (4, -2): (terrain: BlueNile, name: None),
        (-1, 8): (terrain: Desert, name: None),
        (5, 9): (terrain: Desert, name: None),
        (-6, 1): (terrain: Desert, name: None),
        (-4, 6): (terrain: Desert, name: None),
        (-3, 5): (terrain: Desert, name: None),
        (-1, -5): (terrain: BlueNile, name: None),
        (2, -3): (terrain: BlueNile, name: None),
        (6, 6): (terrain: Desert, name: None),
        (-9, 4): (terrain: WhiteNile, name: None),
        (-7, 5): (terrain: Desert, name: None),
        (-6, -4): (terrain: WhiteNile, name: None),
        (8, -5): (terrain: BlueNile, name: None),
        (0, -5): (terrain: BlueNile, name: None),
        (-8, 0): (terrain: WhiteNile, name: None),
        (-1, 6): (terrain: Desert, name: None),
        (9, 1): (terrain: BlueNile, name: None),
        (-10, 9): (terrain: Desert, name: None),
        (4, 9): (terrain: Desert, name: None),
        (-4, 7): (terrain: Desert, name: None),
        (5, -4): (terrain: Village, name: None),
        (-7, 3): (terrain: Desert, name: None),
        (-2, -5): (terrain: Desert, name: None),
        (1, -4): (terrain: Palm, name: None),
        (9, -4): (terrain: BlueNile, name: None),
        (6, 4): (terrain: Desert, name: None),
        (7, 5): (terrain: Desert, name: None),
        (-7, 4): (terrain: Desert, name: None),
        (-3, -1): (terrain: Desert, name: None),
        (3, 10): (terrain: Desert, name: None),
        (5, -1): (terrain: BlueNile, name: None),
        (11, -3): (terrain: Desert, name: None),
        (-5, 2): (terrain: Desert, name: None),
        (-3, -2): (terrain: Desert, name: None),
        (1, 6): (terrain: Desert, name: None),
        (-1, -4): (terrain: BlueNile, name: None),
        (2, -2): (terrain: BlueNile, name: None),
        (-4, 10): (terrain: Desert, name: None),
        (7, 4): (terrain: Village, name: None),
        (-6, 2): (terrain: Desert, name: None),
        (-11, 8): (terrain: WhiteNile, name: None),
        (1, 7): (terrain: Desert, name: None),
        (5, 8): (terrain: Desert, name: None),
        (-7, 8): (terrain: Desert, name: None),
        (-3, 8): (terrain: Desert, name: None),
        (1, 5): (terrain: Desert, name: None),
        (-5, -4): (terrain: Desert, name: None),
        (8, -2): (terrain: BlueNile, name: None),
        (-3, 3): (terrain: Desert, name: None),
        (-4, 8): (terrain: Desert, name: None),
        (-2, -4): (terrain: Desert, name: None),
        (-8, 9): (terrain: Desert, name: None),
        (2, 4): (terrain: Desert, name: None),
        (4, 0): (terrain: BlueNile, name: None),
        (0, 9): (terrain: Desert, name: None),
        (-6, 7): (terrain: Desert, name: None),
        (3, 9): (terrain: Desert, name: None),
        (11, -5): (terrain: Desert, name: None),
        (5, 6): (terrain: Desert, name: None),
        (-5, 10): (terrain: Desert, name: None),
        (-7, 9): (terrain: Desert, name: None),
        (-5, 6): (terrain: Desert, name: None),
        (5, 2): (terrain: BlueNile, name: None),
        (-5, 8): (terrain: Desert, name: None),
        (-10, 8): (terrain: Desert, name: None),
        (-7, 1): (terrain: Desert, name: None),
        (5, -5): (terrain: Desert, name: None),
        (-1, 10): (terrain: Desert, name: None),
        (-10, 7): (terrain: Desert, name: None),
        (2, -5): (terrain: Shrubs, name: None),
        (-4, 4): (terrain: Desert, name: None),
        (2, 2): (terrain: Desert, name: None),
        (-6, -3): (terrain: WhiteNile, name: None),
        (-8, 5): (terrain: Desert, name: None),
        (-2, 6): (terrain: Desert, name: None),
        (12, -5): (terrain: Desert, name: None),
        (6, -1): (terrain: BlueNile, name: None),
        (3, 8): (terrain: Desert, name: None),
        (-2, 10): (terrain: Desert, name: None),
        (7, -3): (terrain: Palm, name: None),
        (-10, 6): (terrain: WhiteNile, name: None),
        (10, -4): (terrain: Village, name: None),
        (-2, 8): (terrain: Desert, name: None),
        (3, -4): (terrain: Shrubs, name: None),
        (-2, 9): (terrain: Desert, name: None),
        (7, -5): (terrain: Desert, name: None),
        (0, 8): (terrain: Desert, name: None),
        (-4, -1): (terrain: Desert, name: None),
        (-3, 10): (terrain: Desert, name: None),
        (-9, 3): (terrain: WhiteNile, name: None),
        (1, 4): (terrain: Desert, name: None),
        (-3, 2): (terrain: City, name: None),
        (7, 2): (terrain: BlueNile, name: None),
        (-11, 9): (terrain: Desert, name: None),
        (8, -3): (terrain: BlueNile, name: None),
        (-1, 5): (terrain: Desert, name: None),
        (3, 4): (terrain: Desert, name: None),
        (2, 10): (terrain: Desert, name: None),
        (7, 3): (
            terrain: Village,
            name: Some("Buri"),
        ),
        (-10, 5): (terrain: WhiteNile, name: None),
        (8, -4): (terrain: BlueNile, name: None),
        (0, 0): (
            terrain: City,
            name: Some("Austrian Mission"),
        ),
        (-1, 0): (terrain: City, name: None),
        (-9, 7): (terrain: Desert, name: None),
        (7, -4): (terrain: Desert, name: None),
        (2, 9): (terrain: Desert, name: None),
        (6, -4): (terrain: Palm, name: None),
        (-12, 10): (terrain: WhiteNile, name: None),
        (3, 1): (terrain: Palm, name: None),
        (-3, 7): (terrain: Desert, name: None),
        (6, -5): (terrain: Desert, name: None),
        (0, 10): (terrain: Desert, name: None),
        (3, 3): (terrain: Desert, name: None),
        (-6, -2): (terrain: Desert, name: None),
        (-1, -1): (terrain: City, name: None),
        (-9, 5): (terrain: Desert, name: None),
        (4, 8): (terrain: Desert, name: None),
        (-7, 6): (terrain: Desert, name: None),
        (-1, -2): (terrain: BlueNile, name: None),
        (-1, 1): (terrain: City, name: None),
        (3, -1): (terrain: BlueNile, name: None),
        (0, 7): (terrain: Desert, name: None),
        (-4, 9): (terrain: Desert, name: None),
        (-6, 8): (terrain: Desert, name: None),
        (9, -1): (terrain: BlueNile, name: None),
        (4, 7): (terrain: Desert, name: None),
        (-4, -3): (terrain: Desert, name: None),
        (0, -3): (terrain: BlueNile, name: None),
        (5, 0): (terrain: Desert, name: None),
        (-1, 9): (terrain: Desert, name: None),
        (3, 0): (terrain: City, name: None),
        (1, -2): (terrain: BlueNile, name: None),
        (4, 1): (terrain: BlueNile, name: None),
    },
)
