[
    (
        name: "Taiasha",
        x: 85.0,
        y: 154.0,
        width: 1231.0,
        height: 362.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "Khalifa Abdullah",
        x: 87.0,
        y: 617.0,
        width: 532.0,
        height: 356.0,
        cols: 3,
        rows: 2,
    ),
    (
        name: "Sherif",
        x: 796.0,
        y: 624.0,
        width: 524.0,
        height: 351.0,
        cols: 3,
        rows: 2,
    ),
    (
        name: "upper green",
        x: 1448.0,
        y: 166.0,
        width: 1402.0,
        height: 352.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "lower green",
        x: 1448.0,
        y: 625.0,
        width: 1399.0,
        height: 349.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "upper Jaalin",
        x: 90.0,
        y: 1080.0,
        width: 1226.0,
        height: 354.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "lower Jaalin",
        x: 90.0,
        y: 1538.0,
        width: 1226.0,
        height: 356.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "Hadendowa",
        x: 1449.0,
        y: 1077.0,
        width: 1398.0,
        height: 358.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Hadendowa Forts",
        x: 1448.0,
        y: 1539.0,
        width: 1403.0,
        height: 355.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Baggara",
        x: 92.0,
        y: 2002.0,
        width: 1225.0,
        height: 354.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "British Boats",
        x: 1445.0,
        y: 2000.0,
        width: 1404.0,
        height: 354.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Ali Wad Helu",
        x: 92.0,
        y: 2457.0,
        width: 1226.0,
        height: 358.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "British Army",
        x: 1450.0,
        y: 2456.0,
        width: 1401.0,
        height: 357.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Kitchener",
        x: 1447.0,
        y: 2914.0,
        width: 1406.0,
        height: 358.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Sheik El Din",
        x: 94.0,
        y: 2915.0,
        width: 1224.0,
        height: 358.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "Jehadia",
        x: 92.0,
        y: 3373.0,
        width: 1226.0,
        height: 357.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "Egyptian Army",
        x: 1446.0,
        y: 3376.0,
        width: 1403.0,
        height: 351.0,
        cols: 8,
        rows: 2,
    ),
]