[
    (
        name: "Taiasha",
        x: 32.0,
        y: 44.0,
        width: 520.0,
        height: 152.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "Khalifa Abdullah",
        x: 30.0,
        y: 239.0,
        width: 226.0,
        height: 152.0,
        cols: 3,
        rows: 2,
    ),
    (
        name: "Sherif",
        x: 333.0,
        y: 239.0,
        width: 222.0,
        height: 152.0,
        cols: 3,
        rows: 2,
    ),
    (
        name: "upper green",
        x: 614.0,
        y: 43.0,
        width: 592.0,
        height: 152.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "lower green",
        x: 612.0,
        y: 240.0,
        width: 595.0,
        height: 152.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "upper Jaalin",
        x: 25.0,
        y: 435.0,
        width: 529.0,
        height: 152.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "lower Jaalin",
        x: 28.0,
        y: 632.0,
        width: 525.0,
        height: 152.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "Hadendowa",
        x: 611.0,
        y: 436.0,
        width: 593.0,
        height: 152.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Hadendowa Guns",
        x: 608.0,
        y: 634.0,
        width: 595.0,
        height: 152.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Baggara",
        x: 23.0,
        y: 828.0,
        width: 530.0,
        height: 152.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "British Boats",
        x: 606.0,
        y: 831.0,
        width: 597.0,
        height: 152.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Ali Wad Helu",
        x: 20.0,
        y: 1026.0,
        width: 530.0,
        height: 152.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "British Army",
        x: 604.0,
        y: 1027.0,
        width: 597.0,
        height: 152.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Kitchener",
        x: 605.0,
        y: 1225.0,
        width: 595.0,
        height: 152.0,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Sheik El Din",
        x: 22.0,
        y: 1224.0,
        width: 528.0,
        height: 152.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "Jehadia",
        x: 21.0,
        y: 1421.0,
        width: 527.0,
        height: 152.0,
        cols: 7,
        rows: 2,
    ),
    (
        name: "Egyptian Army",
        x: 604.0,
        y: 1422.0,
        width: 596.0,
        height: 152.0,
        cols: 8,
        rows: 2,
    ),
]