[
    (
        name: "Taiasha",
        x: 77.0,
        y: 142.0,
        width: 1251.3,
        height: 371.5,
        cols: 7,
        rows: 2,
    ),
    (
        name: "Khalifa Abdullah",
        x: 72.2,
        y: 584.1,
        width: 543.8,
        height: 371.5,
        cols: 3,
        rows: 2,
    ),
    (
        name: "Sherif",
        x: 801.3,
        y: 584.1,
        width: 534.2,
        height: 371.5,
        cols: 3,
        rows: 2,
    ),
    (
        name: "upper green",
        x: 1477.5,
        y: 105.1,
        width: 1424.5,
        height: 371.5,
        cols: 8,
        rows: 2,
    ),
    (
        name: "lower green",
        x: 1472.7,
        y: 586.5,
        width: 1431.8,
        height: 371.5,
        cols: 8,
        rows: 2,
    ),
    (
        name: "upper Jaalin",
        x: 60.2,
        y: 1063.1,
        width: 1272.9,
        height: 371.5,
        cols: 7,
        rows: 2,
    ),
    (
        name: "lower Jaalin",
        x: 67.4,
        y: 1544.5,
        width: 1263.3,
        height: 371.5,
        cols: 7,
        rows: 2,
    ),
    (
        name: "Hadendowa",
        x: 1470.3,
        y: 1065.5,
        width: 1427.0,
        height: 371.5,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Hadendowa Guns",
        x: 1463.0,
        y: 1549.4,
        width: 1431.8,
        height: 371.5,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Baggara",
        x: 55.3,
        y: 2023.5,
        width: 1275.4,
        height: 371.5,
        cols: 7,
        rows: 2,
    ),
    (
        name: "British Boats",
        x: 1458.2,
        y: 2030.8,
        width: 1436.6,
        height: 371.5,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Ali Wad Helu",
        x: 48.1,
        y: 2507.4,
        width: 1275.4,
        height: 371.5,
        cols: 7,
        rows: 2,
    ),
    (
        name: "British Army",
        x: 1453.4,
        y: 2509.8,
        width: 1436.6,
        height: 371.5,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Kitchener",
        x: 1455.8,
        y: 2993.7,
        width: 1431.8,
        height: 371.5,
        cols: 8,
        rows: 2,
    ),
    (
        name: "Sheik El Din",
        x: 52.9,
        y: 2991.2,
        width: 1270.5,
        height: 371.5,
        cols: 7,
        rows: 2,
    ),
    (
        name: "Jehadia",
        x: 50.5,
        y: 3472.7,
        width: 1268.1,
        height: 371.5,
        cols: 7,
        rows: 2,
    ),
    (
        name: "Egyptian Army",
        x: 1453.4,
        y: 3475.1,
        width: 1434.2,
        height: 371.5,
        cols: 8,
        rows: 2,
    ),
]